$google-logo-during: 0.5s;

.logo {
    -webkit-transition: all $google-logo-during ease;
        -moz-transition: all $google-logo-during ease;
        -o-transition: all $google-logo-during ease;
        -ms-transition: all $google-logo-during ease;
        transition: all $google-logo-during ease;
    &:hover {
        cursor: pointer;
        rotate: 360deg;
        -webkit-transition: all $google-logo-during ease;
            -moz-transition: all $google-logo-during ease;
            -o-transition: all $google-logo-during ease;
            -ms-transition: all $google-logo-during ease;
            transition: all $google-logo-during ease;
    }
}


.transform {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.loginToggleClose {
   width: 0;
   opacity: 0;
}

.loginToggle {
    width: 210px;
    opacity: 1;
}
