$google-logo-during: 0.5s;
$google-login-toggle: 0.4s;
$toggle-delay: 0.3s;

.logo {
    -webkit-transition: all $google-logo-during ease;
        -moz-transition: all $google-logo-during ease;
        -o-transition: all $google-logo-during ease;
        -ms-transition: all $google-logo-during ease;
        transition: all $google-logo-during ease;
    &:hover {
        cursor: pointer;
        rotate: 360deg;
        -webkit-transition: all $google-logo-during ease;
            -moz-transition: all $google-logo-during ease;
            -o-transition: all $google-logo-during ease;
            -ms-transition: all $google-logo-during ease;
            transition: all $google-logo-during ease;
    }
}


.transform {
    -webkit-transition: all $google-login-toggle ease;
    -moz-transition: all $google-login-toggle ease;
    -o-transition: all $google-login-toggle ease;
    -ms-transition: all $google-login-toggle ease;
    transition: all $google-login-toggle ease;
}



.loginToggleClose {
    transition-property: opacity, width;
    transition-delay: 0s, $toggle-delay;
    width: 0;
    opacity: 0;
}

.loginToggle {

transition-delay: 1s, 250ms;
    transition-property: width, opacity;
    transition-delay: 0s, $toggle-delay;
    width: 210px;
    opacity: 1;
}


